.jr__ecategories {
    width: 100%;
}

.jr__ecategories__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3rem;
    padding-top: 3.5rem;
}

.ecategories__top {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.ecategories__top a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgb(70, 64, 222);
    font-family: Epilogue;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
}

.ecategories__span {
    font-family: Inter;
    font-size: 3rem;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0%;
    text-align: left;
    color: rgb(37, 50, 75);

    >span {
        color: rgb(38, 164, 255);
    }
}

.ecategories__bottom {
    width: 100%;
    display: grid;
    column-gap: 3%;
    row-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.ecategories__bottom a {
    text-decoration: none;
}

.ecategories__container {
    width: 100%;
    transition: .1s ease-in-out;
    padding: 2rem;
    box-sizing: border-box;
    border: 0.06rem solid rgb(214, 221, 235);
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.ecategories__container i {
    font-size: 2.5rem;
    color: rgb(70, 64, 222);;
}

.ecategories__name {
    margin-top: 1rem;
    color: rgb(37, 50, 75);
font-family: Inter;
font-size: 1.5rem;
font-weight: 500;
letter-spacing: 0%;
text-align: left;
}

.ecategories__count {
    display: flex;
    align-items: center;
    gap: .7rem;
    color: rgb(124, 132, 147);
font-family: Inter;
font-size: 1rem;
font-weight: 400;
letter-spacing: 0%;
text-align: left;

> svg {
    color: rgb(37, 50, 75);
    font-size: 1.5rem;
}
}

.ecategories__container:hover {
    background: rgb(70, 64, 222);
    transition: .1s ease-in-out;

    > i {
        color: rgb(255, 255,255);
    transition: .1s ease-in-out;
    }

    > .ecategories__name {
        color: rgb(255, 255,255);
    transition: .1s ease-in-out;
    }

    > .ecategories__count {
        color: rgb(255, 255,255);
    transition: .1s ease-in-out;

        > svg {
        color: rgb(255, 255,255);
    transition: .1s ease-in-out;
        }
    }
}